//colors
$bgColor: rgb(216, 193, 179);
$black: black;
$beige: rgb(244, 230, 223);
$mainFontColor: rgb(90, 78, 78);
$grey: rgb(175, 176, 161);

//shadows
$mainShadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);


//fonts
%mainFont {
    font-family: Arial, sans-serif;
    color: $black;
    font-size: 1.2rem;
    line-height: 1;
    text-decoration: none;
}



//min-width for devices
$_mobile: 'min-width: 320px';
$_tablet: 'min-width: 767px';
$_desktop: 'min-width: 1024px';
$_projector: 'min-width: 1201px';

