@import './vars';
@import './mixins';
// @import './fonts/fonts';
@import './layouts/header';
@import './layouts/description';
@import './layouts/footer';
@import './layouts/slider';
@import './layouts/submit';
@import './layouts/price';

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    @extend %mainFont;  
    background-color: $beige;
    // background-color: $bgColor;
}


.container {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    background-color: $bgColor;
    // height: 500rem;
}

a,
a:visited {
    color:$mainFontColor;
    text-decoration: none;
}





