@import './vars';
@import './mixins';
@import './layouts/header';
@import './layouts/description';
@import './layouts/footer';
@import './layouts/slider';
@import './layouts/price';

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    @extend %mainFont;  
    background-color: $beige;
}

.container {
    width: 100%;
    max-width: 102rem;
    margin: 0 auto;
    background-color: $bgColor;
}

a,
a:visited {
    color:$mainFontColor;
    text-decoration: none;
}


