@font-face {
    font-family: 'LittleKitchen';
    src:  url('../LittleKitchen.ttf') format('truetype');
 }

 .sticky {
    position: fixed;
    z-index: 1000;
    top:0;
}

.header {
    @include section();
    width: 100%;
    padding-top: 0;
    background-color: $beige;
    

    &__wrapper {
        background-image: url('../img/background-beige.jpg');
        background-size: cover;
        border: 2px solid $bgColor;
        @include flex (space-between, center, row);
          
        @media ($_desktop) { 
            @include flex (space-between, center, row);           
        }
    }


    &__logo {
        @include flex (space-between, center, column);
        margin-left: 10%;
        margin-top: 2%; 
        margin-bottom: 2%;
              
        & img {
            width: 5rem;
            height: 7rem;

            @media ($_desktop) {
                width: 12rem;
                height: 15rem;
            }
        }

        &-title {
            text-align: center;
            font-size: 1.8rem;
            margin-top: 1rem;
            color: $mainFontColor;
            font-weight: bold;
            font-family: LittleKitchen;

            @media ($_desktop) {
                font-size: 2.6rem;
            }
        }
    }

    &__hamburger {
        margin-right: 5%;

        @media ($_desktop) {
            display: none;           
        }

        .fa {
            font-size: 2rem;
            @media ($_tablet) {
                font-size: 3rem;
            }            
        }

        &-menu {
            display: none;
        }

        &:hover {
            .fa {
                display: none;
            }

            .header__hamburger-menu {
                @include flex (space-between, flex-start, column);
                margin-top: 2rem;
                       
                &-item {
                    margin-bottom: 2rem;
                    
                    @include p1();
                    font-size: 1rem;                
                }
            }
        }
    }


    &__menu {
        display: none;
    
        @media ($_desktop) {
            @include flex (none, flex-start, column);
            margin-right: 10rem;
            margin-top: 2rem;
                   
    
            &-item {
                margin-bottom: 2.5rem;
                @include h2();
                font-weight: bold;
                
                &:hover {
                    cursor: pointer; 
                }
            }
        }
    }

}







    