.submit {
    @include section();
    // padding-top: 5rem;
    // padding-bottom: $pb;
    
    // background-color: $beige;

    // &__wrapper {
        
    // }

    &__contact-form {
        @include flex(none, center, column);
        padding-left: 5rem;
        padding-right: 5rem;

        @media ($_desktop) {
            flex-basis: 50rem;
            // padding-left: 5rem;
            // padding-right: 5rem;
            
        }
    }

    &__title {
        @include p1();
        font-family:cursive;
        text-align: center;
        padding-top: 2rem;
        font-weight: bold;
    }

    &__input {
        @extend %input;
        margin-bottom: 2.1rem;
        width: 80%;
    }

    &__service {
        // position: relative;
        @include flex(flex-start, none, column);
        width: 80%;
    }

    &__select {
        @extend %input;
        margin-bottom: 2.1rem;
        
    }

    &__label {
        @include p1();
        margin-bottom: 0;
        // position: absolute;
        // left: 0;
        @media ($_desktop) {
            margin-bottom: 0;
        }
    }

    &__button {
        @extend %btn;
        width: 20rem;
        align-self: center;
        margin-bottom: 2rem;
    }

}